apiVersion: batch/v1
kind: Job
metadata:
  name: {{ jobname }}
  labels:
    app: lagopus
spec:
  activeDeadlineSeconds: {{ deadline }}
  template:
    spec:
      restartPolicy: Never
      imagePullSecrets:
      - name: regcred
      containers:
      - name: fuzzer
        image: qlyoung/lagopus-fuzzer:latest
        imagePullPolicy: Always
        args: ["{{ driver }}", "{{ cpu }}"]
        lifecycle:
          preStop:
            exec:
              command: ["/stop.sh"]
        resources:
          requests:
            memory: "{{ memory }}"
            cpu: "{{ cpu }}"
          limits:
            memory: "{{ memory }}"
            cpu: "{{ cpu }}"
        env:
        - name: LAGOPUS_JOB_ID
          value: "{{ jobid }}"
        - name: FUZZER_TIMEOUT
          value: "{{ deadline - 15 }}"
