apiVersion: v1    
kind: PersistentVolume    
metadata:    
  name: lagopusvolume    
  labels:
    app: lagopus
spec:    
  storageClassName: manual    
  capacity:    
    storage: 5Gi    
  accessModes:    
    - ReadWriteMany
# THIS IS FOR TESTING ONLY.
# Making this PV a hostPath means it will use this path on whatever node the
# requesting pod happens to be bound on.
  hostPath:    
    path: {{ path }}
