{% extends "base.html" %}
{% block content %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Overview</h1>

<!-- Crash table -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Recent Crashes</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Job</th>
            <th>Description</th>
            <th>Exploitability Class</th>
            <th>Sample</th>
            <th>Backtrace</th>
            <th>Backtrace Hash</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Job</th>
            <th>Description</th>
            <th>Exploitability Class</th>
            <th>Sample</th>
            <th>Backtrace</th>
            <th>Backtrace Hash</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<!-- snippet to update crash table on page load -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script>
$(document).ready(function() {
  $('#dataTable').DataTable( {
      "ajax": "api/crashes",
      "columns": [
        {
          data: 'job_id',
          render: function(data, type, row, meta) {
              return '<a href="jobs.html?job=' + data + '">'+data+'</a>';
          }
        },
        { data: 'description' },
        { data: 'exploitability' },
        { data: 'sample_path' },
        { data: 'backtrace' },
        { data: 'backtrace_hash' }
      ]
  } );
} );
</script>
{% endblock %} <!-- content -->
