{% extends "base.html" %}
{% block content %}

<!-- Page Heading ->
<h1 class="h3 mb-2 text-gray-800">Overview</h1>
<!- -->

<!-- Crash table -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Recent Crashes</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Job</th>
            <th>Sample</th>
            <th>Type</th>
            <th>Security Issue</th>
            <th>Backtrace</th>
            <th>Return Code</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Job</th>
            <th>Sample</th>
            <th>Type</th>
            <th>Security Issue</th>
            <th>Backtrace</th>
            <th>Return Code</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<!-- snippet to update crash table on page load -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script>
$(document).ready(function() {
  $('#dataTable').DataTable( {
      "ajax": "api/crashes",
      "columns": [
        {
          data: 'job_id',
          render: function(data, type, row, meta) {
              return '<a href="jobs.html?job='+encodeURIComponent(data)+'">'+data+'</a>';
          }
        },
        {
          data: 'sample_path',
          render: function(data, type, row, meta) {
              return '<a href="api/crashes?job='+encodeURIComponent(row['job_id'])+'&sample='+encodeURIComponent(data)+'">Download</a>';
          }
        },
        { data: 'type' },
        { data: 'is_security_issue' },
        {
          data: 'backtrace',
          width: '35%',
          render: function(data, type, row, meta) {
              return '<details><summary>Click for stack trace</summary><code style="display:block;white-space:pre-wrap;font-size:0.6em">'+data+'</code></details>';
          }
        },
        { data: 'return_code' }
      ]
  } );
} );
</script>
{% endblock %} <!-- content -->
