{% extends "base.html" %}
{% block content %}

<!-- Jobs Card Example -->
<div class="col-xl-2 col-md-6 mb-4">
  <div class="card border-left-info shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col">
          <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Jobs</div>
          <div class="row no-gutters align-items-center">
            <div class="col-auto">
              <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800" id="jobcount"></div>
                <script>
                  $(document).ready(function() {
                    $.ajax({
                        type: "get",
                        url: "api/jobs",
                        success:function(data) {
                            $("#jobcount").text(data['data'].length);
                        }
                    });
                  });
                </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Jobs overview table -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Recent
    Jobs</h6>
  </div>
  <div class="card-body table-responsive">
    <table class="table table-bordered" id="dataTable" width=
    "100%" cellspacing="0">
      <thead>
        <tr>
          <th>Job ID</th>
          <th>Status</th>
          <th>Cores</th>
          <th>Memory</th>
          <th>Deadline</th>
          <th>Driver</th>
          <th>Created</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Job ID</th>
          <th>Status</th>
          <th>Cores</th>
          <th>Memory</th>
          <th>Deadline</th>
          <th>Driver</th>
          <th>Created</th>
        </tr>
      </tfoot>
    </table>
  </div>

  <!-- code to update jobs table via api -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
  <script>
  $(document).ready(function() {
    $('#dataTable').DataTable( {
        "ajax": "api/jobs",
        "order": [[ 6, 'desc' ]],
        "columns": [
          { data: 'job_id' },
          { data: 'status' },
          { data: 'cores' },
          { data: 'memory' },
          { data: 'deadline' },
          { data: 'driver' },
          { data: 'create_time' }
        ]
    } );
  } );
  </script>
</div>

<!-- Global job graph -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Execs / Sec - All Jobs</h6>
  </div>
  <div class="card-body">
    <div class="chart-area" id="jobEpsOverviewContainer" style="position: relative; height:20%; width:30%">
      <canvas id="jobEpsOverview"></canvas>
    </div>
  </div>
  <script>
  var myChart;
  $(document).ready(function() {
  window.chartColors = {
          red: 'rgb(255, 99, 132)',
          orange: 'rgb(255, 159, 64)',
          yellow: 'rgb(255, 205, 86)',
          green: 'rgb(75, 192, 192)',
          blue: 'rgb(54, 162, 235)',
          purple: 'rgb(153, 102, 255)',
          grey: 'rgb(201, 203, 207)'
  };

  var color = Chart.helpers.color;

  var ctx = document.getElementById('jobEpsOverview').getContext('2d');
  myChart = new Chart(ctx, {
    type: 'line',
    data: {
      datasets: []
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            suggestedMin: 0,
            suggestedMax: 3000
          }
        }],
        xAxes: [{
            type: 'time',
            time: {
                displayFormats: {
                    second: 'h:mm:ss'
                }
            },
            distribution: 'series',
            bounds: 'data'
        }]
      }
    }
  });

  function updategraph(){
      $.ajax({
          type: "get",
          url: "api/jobs",
          success:function(data)
          {
              console.log(data);
              for (let job of data['data']) {
                  (function(j) {
                      /* Add dataset */
                      $.ajax({
                          type: "get",
                          url: "api/jobs/eps?job=" + j['job_id'],
                          success:function(job_eps) {
                              console.log(job_eps);
                              set = job_eps.map(function(point) {
                                  return {
                                      x: new moment(point['time']),
                                      y: point['execs_per_sec']
                                  };
                              }).slice(-20)
                              ds = myChart.data.datasets.filter(function(el) { console.log(el.label + " == " + j['job_id']); return el.label == j['job_id']; });
                              if (ds.length > 0) {
                                  ds = ds[0];
                                  ds.data = set;
                              } else {
                                  myChart.data.datasets.push({
                                      label: job['job_id'],
                                      pointRadius: 1,
                                      backgroundColor: color(window.chartColors.blue).alpha(0.2).rgbString(),
                                      fill: true,
                                      data: set
                                  });
                              }
                              ds.data = set;
                              myChart.update();
                          }
                      });
                  })(job);
              }
              setTimeout(function(){
                  updategraph();
              }, 5000);
          }
      });
  }
  updategraph();
  });
  </script>
</div>

{% endblock %}
