{% extends "base.html" %}
{% block content %}

<!-- New job modal -->
<div class="modal" id="jobUploadModal" tabindex="-1" role=
"dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create new job</h5><button type=
        "button" class="close" data-dismiss="modal" aria-label=
        "Close"><span aria-hidden="true">×</span></button>
      </div>
      <form action="/upload" method="post" enctype=
      "multipart/form-data">
        <div class="modal-body">

          <!-- Target .zip upload -->
          <div class="form-group">
            <div class="input-group">
              <div class="custom-file">
                <input type="file" required="required" name="file" class="custom-file-input" id="inputGroupFile01">
                <label class="custom-file-label" for=
                "inputGroupFile01">Choose target .zip</label>
              </div>
            </div>
          </div>

          <!-- Job name -->
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Job name</span>
              </div>
              <input type="text" required="required" class="form-control" name="jobname" aria-label="Job name">
            </div>
          </div>

          <!-- Fuzzer -->
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Fuzzer</span>
              </div>
              <select class="custom-select" required="required" name="driver">
                <option>afl</option>
                <option>libFuzzer</option>
              </select>
            </div>
          </div>

          <!-- Cores -->
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Cores</span>
              </div>
              <input type="text" class="form-control" placeholder="{{ defaultcores }}" name="cores" aria-label="Cores">
            </div>
          </div>

          <!-- Memory -->
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Memory</span>
              </div>
              <input type="text" class="form-control" placeholder="{{ defaultmemory }}" name="memory" aria-label="Memory">
              <div class="input-group-append">
                <span class="input-group-text">Mi</span>
              </div>
            </div>
          </div>

          <!-- Deadline -->
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Deadline</span>
              </div>
              <input type="text" class="form-control" placeholder="{{ defaultdeadline }}" name="deadline" aria-label="Deadline">
              <div class="input-group-append">
                <span class="input-group-text">seconds</span>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
          data-dismiss="modal">Cancel</button> <button type=
          "submit" class="btn btn-primary">Create job</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- snippet to display file name in job upload dialog -->
<script>
$(document).on('change', '.custom-file-input', function (event) {
  $(this).next('.custom-file-label').html(event.target.files[0].name);
})
</script>

<div class="row mb-4">
  <!-- Active Jobs # -->
  <div class="col">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Active Jobs</div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800" id="jobcount"></div>
                  <script>
                    $(document).ready(function() {
                      $.ajax({
                          type: "get",
                          url: "api/jobs",
                          success:function(data) {
                              let active = data['data'].filter(function(job) {
                                  return (job.status == "Incomplete");
                              });
                              $("#jobcount").text(active.length);
                          }
                      });
                    });
                  </script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Cluster Nodes -->
  <div class="col">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Online Nodes</div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <!-- hyperscaling engaged -->
                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800" id="jobcount">{{ nodecount }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- New job button -->
  <div class="col">
    <div class="row justify-content-end">
      <button class="d-none d-sm-inline-block btn btn-lg btn-primary shadow-lg" data-toggle="modal" data-target="#jobUploadModal">NEW JOB</button>
    </div>
  </div>
</div>


<!-- Jobs overview table -->
{% include "jobtable.html" %}

{% endblock %}
