{% extends "base.html" %}
{% block content %}

<!-- Page heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-primary">{{ job["job_id"] or 'Overview' }}</h1>
</div>

{% if job == None %}
  <!-- Job table -->
  {% include "jobtable.html" %}
{% else %}
  <!-- Job stats -->
  <div class="row">
    <div class="w-100 p-2">
      <div class="card shadow">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Summary</h6>
        </div>
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col"><strong>Status</strong><p><span id="summary_status" class="badge badge-primary">{{ job["status"] }}</span></p></div>
              <div class="col"><strong>Crashes</strong><p id="summary_crashes">-</p></div>
              <div class="col"><strong>Hangs</strong><p id="summary_hangs">-</p></div>
              <div class="col"><strong>Live fuzzers</strong><p id="summary_live_fuzzers">-</p></div>
              <div class="col"><strong>Total Paths</strong><p id="summary_paths">-</p></div>
              <div class="col"><strong>Total Execs</strong><p id="summary_execs">-</p></div>
            </div>
          </div>
          <script>
            function update_summary() {
                $.ajax({
                    type: "get",
                    url: "api/jobs/{{ job["job_id"] }}",
                    success: function(data) {
                        $("#summary_status").text(data["status"]);
                        $.ajax({
                            type: "get",
                            url: "api/jobs/{{ job["job_id"] }}/stats",
                            success: function(data) {
                                if (data.length == 0)
                                    return;
                                $("#summary_crashes").text(Math.ceil(data[data.length - 1]['mean_crashes']));
                                $("#summary_hangs").text(Math.ceil(data[data.length - 1]['mean_hangs']));
                                $("#summary_live_fuzzers").text(Math.ceil(data[data.length - 1]['mean_alive']));
                                $("#summary_paths").text(Math.ceil(data[data.length - 1]['mean_total_paths']));
                                $("#summary_execs").text(Math.ceil(data[data.length - 1]['mean_execs']));
                                if (data["status"] != "Complete")
                                    setTimeout(update_summary, 15000);
                            }
                        });
                        if (data["status"] == "Complete") {
                            $("#summary_status").removeClass("badge-primary");
                            $("#summary_status").addClass("badge-success");
                        }
                    }
                });
            }
            update_summary();
          </script>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="w-50 p-2">
      <div class="card shadow">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Fuzzing Stats</h6>
        </div>
        <div class="card-body">
          <div class="chart-area" style="position: relative">
            <canvas id="statChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="w-50 p-2">
      <div class="card shadow">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Performance Stats</h6>
        </div>
        <div class="card-body">
          <div class="chart-area" style="position: relative">
            <canvas id="perfChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- graph job stats -->
  <script src="js/lagopus.js"></script>
  <script>
  lagopus_job_aflstat($("#statChart"), '{{ job["job_id"] }}');
  lagopus_job_aflperf($("#perfChart"), '{{ job["job_id"] }}');
  </script>
{% endif %}

{% endblock %} <!-- content -->
