{% extends "base.html" %}
{% block content %}

<!-- Page heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">{{ job_id or 'Overview' }}</h1>
</div>

{% if jobid == None %}
  <!-- Job table -->
  {% include "jobtable.html" %}
{% else %}
  <!-- Job stats -->
  <div class="row">
    <div class="w-100 p-2">
      <div class="card shadow">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Summary</h6>
        </div>
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col"><strong>Crashes:</strong> <p id="summary_crashes">-</p></div>
              <div class="col"><strong>Paths:</strong> <p id="summary_paths">-</p></div>
            </div>
          </div>
          <script>
            function update_summary() {
                $.ajax({
                    type: "get",
                    url: "api/jobs/{{ job_id }}/stats",
                    success: function(data) {
                        if (data.length == 0)
                            return;
                        $("#summary_crashes").text(data[data.length - 1]['mean_crashes']);
                        $("#summary_paths").text(data[data.length - 1]['mean_total_paths']);
                    }
                });
                setTimeout(update_summary, 15000);
            }
            update_summary();
          </script>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="w-50 p-2">
      <div class="card shadow">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Fuzzing Stats</h6>
        </div>
        <div class="card-body">
          <div class="chart-area" style="position: relative">
            <canvas id="statChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="w-50 p-2">
      <div class="card shadow">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Performance Stats</h6>
        </div>
        <div class="card-body">
          <div class="chart-area" style="position: relative">
            <canvas id="perfChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- graph job stats -->
  <script src="js/lagopus.js"></script>
  <script>
  lagopus_job_aflstat($("#statChart"), '{{ job_id }}');
  lagopus_job_aflperf($("#perfChart"), '{{ job_id }}');
  </script>
{% endif %}

{% endblock %} <!-- content -->
