{% extends "base.html" %}
{% block content %} 

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Tables</h1>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Recent
    Jobs</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width=
      "100%" cellspacing="0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Cores</th>
            <th>Memory</th>
            <th>Driver</th>
            <th>Start date</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Name</th>
            <th>Cores</th>
            <th>Memory</th>
            <th>Driver</th>
            <th>Start date</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

{% block scripts %}
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#dataTable').DataTable( {
          "ajax": "api/jobs"
      } );
    } );
  </script>
{% endblock %}

{% endblock %}
