<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Recent
    Jobs</h6>
  </div>
  <div class="card-body table-responsive">
    <table class="table table-bordered" id="dataTable" width=
    "100%" cellspacing="0">
      <thead>
        <tr>
          <th>Job ID</th>
          <th>Status</th>
          <th>Cores</th>
          <th>Memory</th>
          <th>Deadline</th>
          <th>Driver</th>
          <th>Created</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Job ID</th>
          <th>Status</th>
          <th>Cores</th>
          <th>Memory</th>
          <th>Deadline</th>
          <th>Driver</th>
          <th>Created</th>
        </tr>
      </tfoot>
    </table>
  </div>

  <!-- code to update jobs table via api -->
  <script>
  $(document).ready(function() {
    $('#dataTable').DataTable( {
        "ajax": {
            "url": "api/jobs",
            "dataSrc": ""
        },
        "order": [[ 6, 'desc' ]],
        "columns": [
          {
            data: 'job_id',
            render: function(data, type, row, meta) {
                return '<a href="jobs.html?job_id=' + encodeURIComponent(data) + '">'+data+'</a>';
            }
          },
          { data: 'status' },
          { data: 'cores' },
          { data: 'memory' },
          { data: 'deadline' },
          { data: 'driver' },
          {
            data: 'create_time',
            render: function(data, type, row, meta) {
		console.log(data);
                return type === 'sort' ? moment(data).unix() : moment(data);
            }
          },
        ]
    } );
  } );
  </script>
</div>
